{% extends 'Review/base.html' %}
{% load static %}

{% block title %} {{building.building_name}} {% endblock %}

{% block content %}


    <div class="template-page-container">

        <h2>{{ building.building_name }}</h2>
            <div>

                <div>
                    <img class = "building-picture" src="{{ MEDIA_URL }}{{ building.building_image }}"  alt="{{ building.building_name }}">
                </div>

                <div style="padding: 12px; ">
                    <p>Description: {{ building.building_description }}</p>

                    <div class="divider"></div>

                    <div class = "display-content">

                        {% if user.is_authenticated %}

                            <div class = "button-padding">

                                <strong id = "like_count">{{ building.building_likes }}</strong> <strong>likes</strong>

                                    <button id = "like_btn"
                                            data-buildingid = "{{ building.building_name }}"
                                            class = "btn btn-primary btn-sm"
                                            type = "button">

                                        <span data-feather = "thumbs-up"></span>
                                        Like Building

                                    </button>
                            </div>

                            <div class = "button-padding">

                                <strong id = "dislike_count">{{ building.building_dislikes }}</strong> <strong>dislikes</strong>

                                <button id = "dislike_btn"
                                        data-buildingid = "{{ building.building_name }}"
                                        class = "btn btn-primary btn-sm"
                                        type = "button">

                                    <span data-feather = "thumbs-down"></span>
                                    Dislike Building

                                </button>

                            </div>

                            <div>

                                {% if building.building_instagram %}
                                    <p class = "btn btn-light mr-2 mt-3"><a href="{{ building.building_instagram }}" target="_blank">Instagram</a></p>
                        
                                {% else %}
                                    <p class = "btn btn-light mr-2 mt-3">
                                        <a href="https://www.instagram.com/uofglasgow?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">Instagram</a>
                                    </p>

                                {% endif %}

                                <p class = "btn btn-light mr-2 mt-3"><a href="{{ building.building_website }}" target="_blank">Website</a></p>

                            </div>

                        

                        {% endif %}
                    
                    </div>                    

                </div>
            </div>

            
            <div class = "spacing">
                {% if rooms %}
                    <h2>Rooms:</h2>
                        {% for room in rooms %}

                            <button class = "accordion">{{ room.room_title }}</button>

                            <div class = "panel">
                                <img src = "{{ MEDIA_URL }}{{ room.room_picture }}">
                            </div>

                        {% endfor %}

                {% else %}
                    <p><strong>This building has no rooms or none have been added yet.</strong></p>
                {% endif %}

            </div>


    
            <div id = "map" latitude = "{{ latitude }}" longitude = "{{ longitude }}">

                {% if building.google_map %}

                <script async defer src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyClzpypLber90-EPZWdCFd2_Z9AjhhGSdU&callback=initMap"></script>


                {% endif %}

            </div>
            

        <div class="divider"></div>

        {%  if comments %}

            {% for comment in comments %}

                <div class="comment-container">
                    <!-- Assuming the User model has a one-to-one relationship with Profile named 'profile' -->
                    <div>
                        {% if comment.author.profile.picture %}
                            <img src="{{ MEDIA_URL }}{{ comment.author.profile.picture }}" alt="{{ comment.author.username }}'s profile picture" class="comment-profile-img">

                        {% else %}
                          <img src="{{ MEDIA_URL }}/profile_images/placeholder.jpg" alt="{{ comment.author.username }}'s profile picture" class="comment-profile-img">

                        {% endif %}

                        <span style="margin-left: 18px">{{ comment.author.username }}</span>
                    </div>
                    <p style="margin-top: 18px">{{ comment.text }}</p>
                </div>

            {% endfor %}

        {% else %}
                <p>
                    <strong>There are currently no comments for this building.</strong>
                </p>

        {% endif %}

        <div class="divider"></div>

        {% if user.is_authenticated %}
            <a href="{% url 'new_level' %}" class="building-submit add-new-btn">Add a new Level</a>
        {% endif %}

    </div>

{% endblock %}
