{% extends 'Review/base.html' %}

{% block title %}Facilities | Utility Website{% endblock %}

{% block content %}

<style>
    .comment-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    
    .building-information-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .building-picture{
        width: 80%;
        height: 80%;
        margin: auto;
        text-align: center;
    }
    .building-name{
        position: absolute;
        right: 10%;
        bottom: 0;
        padding: 0.5rem 1rem;
        background: rgba(0, 0, 0, 0.8);
        color: white;
        font-size: 18px;
        max-width: 80%;
        overflow: hidden;
        word-break: break-all;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .form_control{
        width: 100%;
        margin: 0 auto;
    }
    .comment-container p {
        width: 100%;
        text-align: center;
}

</style>


{#<h2>Buildings Page</h2>#}
<!-- Content specific to the Buildings page -->
    <div class="template-page-container">
        <div class="building-page-container">

            {% if buildings %}

                {% for building in buildings %}

                    <div class="building-information-item">

                        <a href="/Review/building_profile/{{ building.building_slug }}/" style="display: flex; position: relative; width: 100%; height: max-content">
                            <img src="{{ MEDIA_URL }}{{ building.building_image }}" class = building-picture alt="{{ building.building_name }}">
                            <p class="building-name">{{ building.building_name }}</p>
                        </a>

                        {% if user.is_authenticated %}

                            <form method="post" action="{% url 'buildings' %}" style="margin-top: 12px; width: 80%;" class="comment-container">
                                {% csrf_token %}
                                {{ comment_form.as_p }}
                                <input type="hidden" name="building_id" value="{{ building.id }}">

                                <button type="submit" class="building-submit">Submit Comment</button>
                            </form>

                        {% endif %}

                    </div>

                {% endfor %}

                {% for comment in building.comments.all %}
                    <div>
                        <img src="{{ comment.author.profile.picture.url }}" alt="User profile picture">
                        <div>{{ comment.author.username }}: {{ comment.text }}</div>
                    </div>
                {% endfor %}
                </div>
                {% if user.is_authenticated %}
                    <a href="{% url 'new_building' %}" class="building-submit add-new-btn">Add a new Facility</a>
                {% endif %}


            {% else %}
                <p>
                    <strong>There are currently no buildings.</strong>
                </p>

            {% endif %}
    </div>


{% endblock %}
