{% extends 'Review/base.html' %}

{% block title %}Facilities | Utility Website{% endblock %}

{% block content %}
<h2>Buildings Page</h2>
<!-- Content specific to the Buildings page -->
    {% for building in buildings %}
    <!-- Building Information -->
    <div>
        <a href="{% url 'building_profile' building.slug %}">
            <img src="{{ building.image.url }}" class = building-picture alt="{{ building.name }}">
            <p>{{ building.name }}</p>
        </a>
    </div>
        <form method="post" action="{% url 'buildings' %}">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <input type="hidden" name="building_id" value="{{ building.id }}">

            <button type="submit">Submit Comment</button>
        </form>
    {% endfor %}

    {% for comment in building.comments.all %}
        <div>
            <img src="{{ comment.author.profile.picture.url }}" alt="User profile picture">

            <p>{{ comment.author.username }}: {{ comment.text }}</p>
        </div>
    {% endfor %}



    {% if user.is_authenticated %}
        <a href="{% url 'new_building' %}" class="btn-small">Add a new Facility</a>
    {% endif %}

{% endblock %}
