{% extends 'Review/base.html' %}
{% load static %}
{% block content %}
    <div class="template-page-container">
        <h2>Edit Profile</h2>
        <form method="post" enctype="multipart/form-data" class="edit-profile-form editprofile-background">
            {% csrf_token %}
            {% for field in form %}
                {%  if field.label != 'Picture' %}
                    <div class="edit-profile-form-item">
                        <label>{{ field.label }}：</label>
                    {{ field }}
                    <span class="error-msg" style="color: red">{{ field.errors.0 }}</span>
                </div>
                {%  endif %}
                {%  if field.label == 'Picture' %}
                    <div class="edit-profile-form-item">
                        <label>{{ field.label }}：</label>
                        {{ field }}
                        <span class="error-msg" style="color: red">{{ field.errors.0 }}</span>
                    </div>
                {%  endif %}
               
            {% endfor %}
            <div class="divider"></div>
            <button type="submit" class="submit-btn">Save changes</button>
        </form>


    </div>
{% endblock %}
