{% extends 'Review/base.html' %}

{% block content %}
<h2>Login</h2>
<div class="mb-6">
    <label for="exampleFormControlInput1" class="form-label">Username</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">password</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
<a href="{% url 'register' %}" class="btn-small">Register</a>
{% endblock %}
