{% extends 'Review/base.html' %}
{% block title %}Add Building{% endblock %}
{% block content %}
<style>
    .new-building-form{
        width: 100%;
        margin-top: 24px;
        margin-bottom: 24px;
        border-radius: 12px;
        padding: 16px;
        box-shadow: 0 2px 30px #5f6f7c;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .new-building-form-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .new-building-form-container p {
        width: 100%;
    }
    .new-building-form-container p label{
        width: 100%;
    }
    .new-building-form-container p input, .new-building-form-container p textarea{
        width: 100%;
    }
</style>
<div class="template-page-container">
    <h2>Add a new Facility</h2>

    <div class="notice">
        Please review the already existing <a href="{% url 'buildings' %}" class="btn-small">Buildings</a> before creating a new facility.
Someone might have already added the facility and you could create a Room or Level within that Facility to help others in a more
detailed manner.
    </div>

    <div class="new-building-form">
        <form method="post" enctype="multipart/form-data" style="width: 100%" class="new-building-form-container">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="divider"></div>
            <button type="submit" class="building-submit" style="width: max-content; margin: auto">Add Building</button>
        </form>
    </div>
</div>

{% endblock %}
